<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Tests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Tests.Properties.Settings>
            <setting name="AtmosES" serializeAs="String">
                <value>\\azvmfile\Engineer\TestSamples\LibMediaProcessorTest\ATMOS\ATMOS_ES.ec3</value>
            </setting>
            <setting name="AtmosESTC" serializeAs="String">
                <value>\\azvmfile\Engineer\TestSamples\LibMediaProcessorTest\ATMOS\WithTimeCode.ec3</value>
            </setting>
            <setting name="Mov6Ch" serializeAs="String">
                <value>"\\azvmfile\Engineer\TestSamples\LibMediaProcessorTest\MOV\Big Buck Bunny\bbb_6Ch.mov"</value>
            </setting>
            <setting name="HDRMP4" serializeAs="String">
                <value>\\azvmfile\Engineer\TestSamples\LibMediaProcessorTest\HDRMP4\FULLSMPTECOLORDATA.mp4</value>
            </setting>
            <setting name="Artifacts_CleanTelecine" serializeAs="String">
                <value>\\azvmfile\Engineer\TestSamples\LibMediaProcessorTest\Artifacts\clean_telecine.avi</value>
            </setting>
            <setting name="Artifacts_Anamorphic_Letterbox" serializeAs="String">
                <value>\\azvmfile\Engineer\TestSamples\LibMediaProcessorTest\Artifacts\Anamorphic_Letterboxed.mpg</value>
            </setting>
            <setting name="Artifacts_Letterbox_Noise" serializeAs="String">
                <value>\\azvmfile\Engineer\TestSamples\LibMediaProcessorTest\Artifacts\Letterbox_Noise.mpg</value>
            </setting>
        </Tests.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
